<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Enuygun UI Suite" parallel="false">
  <listeners>
    <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    <listener class-name="com.enuygun.ui.listeners.ScreenshotOnFailureListener"/>
  </listeners>

  <test name="UI Tests">
    <packages>
      <package name="com.enuygun.ui.tests"/>
    </packages>
  </test>

  <test name="API Tests">
    <packages>
      <package name="com.enuygun.api.tests"/>
    </packages>
  </test>
</suite>

